
.main {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  overflow: hidden;
}

.wave_container {
  border: 1px solid red;
  width: 500px;
  height: 500px;
}

@media (max-width: 800px) {
  .main {
    margin: 6.5em auto;
  }
}
