
.main {
  margin: 4em auto;
  max-width: 1450px;
  width: 80%;
}

.wave_container {
  border: 1px solid red;
  width: 500px;
  height: 500px;
}

@media (max-width: 800px) {
  .main {
    margin: 6.5em auto;
  }
}